.stepOneContainer {
  padding-top: var(--space24);
  padding-bottom: var(--space12);
}

.totalDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space12);
  padding-bottom: var(--space6);
}

.totalDisplay dt {
  color: var(--neutral60);
}

.stepOneHeader {
  margin-bottom: var(--space4);
}
