.button {
  /* text-p + bold mixins */
  font-family: Arial, system-ui, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.002em;

  appearance: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding-block: var(--space3);
  color: var(--white);
  background: var(--blue50);
  border: 0;
  border-radius: var(--space3);
}

.button:not([aria-disabled]) {
  cursor: pointer;
}

.button:focus-visible,
.button:hover {
  outline: 2px solid var(--blue50);
  outline-offset: 1px;
}

.button:active {
  background-color: var(--blue60);
}
