.label {
  display: block;
  margin-bottom: var(--space2);
}

.formField {
  display: block;
}

.formFieldInner {
  position: relative;
}

.formFieldInput {
  /* text-p */
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.2px;

  width: 100%;
  max-width: none;
  border-radius: var(--space4);
  padding: var(--space3) var(--space4);
  border: none;
  border-radius: var(--space2);
  box-shadow: inset 0 0 0 1px var(--neutral50);
}

.formFieldInput::placeholder {
  color: var(--neutral50);
}

.formFieldInput.formFieldInputError {
  box-shadow: inset 0 0 0 1px var(--red60);
}

.formFieldInput:focus-visible {
  box-shadow: inset 0 0 0 1px var(--blue50);
  outline-offset: 1px;
  outline: 2px solid var(--blue50);
}

.validationError {
  display: block;
  margin-top: var(--space2);
}

.inputStatusIcon {
  position: absolute;
  top: var(--space3);
  right: var(--space4);
}
