:root {
  --white: #fff;
  /* --neu/65657Btral05: #f2f8ff; */
  --neutral10: #e7e9ef;
  --neutral50: #6d7088;
  --neutral60: #65657b;
  --blue10: #f2f8ff;
  --blue50: #3667e9;
  --blue60: #253daa; /* NOTE: (new color) */
  --blue70: #13126c;
  --blue90: #171731;
  --red60: #c34648;

  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 0.75rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 2.75rem; /* 32px */
  --space8: 2rem; /* 36px */
  --space9: 2.25rem; /* 40px */
  --space12: 3rem; /* 48px */
  --space24: 6rem; /* 96px */

  --space-container-width: 30rem; /* 480 */
  --space-container-width-lg: 34rem; /* 480 + 64 */
}

:root {
  font-family: Arial, system-ui, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 100%; /* 16px rem */
}

.sr-only {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: var(--blue50);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue70);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--blue10);
  color: var(--blue90);
}

/* text styles & default html els */
h1 {
  font-size: 2.5rem; /* 40 */
  line-height: 1;
}

p,
.text-p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

strong,
.text-p-bold {
  font-weight: 700;
  letter-spacing: 0.2px;
}

h2,
.text-h2 {
  font-size: 1.75rem; /* 28 */
  line-height: 2.25rem; /* 36 */
  font-weight: 700;
  color: var(--blue70);
}

.text-h3-normal {
  font-size: 1.25rem; /* 20 */
  line-height: 1.5rem; /* 24 */
  font-weight: 400;
  letter-spacing: 0.2px;
}

h3,
.text-h3 {
  font-size: 1.25rem; /* 20 */
  line-height: 1.5rem; /* 24 */
  font-weight: 700;
  letter-spacing: 0.2px;
}

.text-label {
  font-size: 0.875rem; /* 14*/
  line-height: 1.25rem; /* 20 */
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--neutral60);
}

.text-validation-error {
  font-size: 0.875rem; /* 14*/
  line-height: 1.25rem; /* 20 */
  font-weight: 400;
  color: var(--red60);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
