:root {
  --white: #fff;
  --neutral10: #f2f8ff;
  --neutral50: #6d7088;
  --neutral60: #65657b;
  --blue10: #f2f8ff;
  --blue50: #3667e9;
  --blue70: #13126c;
  --blue90: #171731;
}

:root {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: var(--blue50);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--blue10);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
